*{
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 900;
    color: #ffff !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 70px;
    text-shadow: 0 0 5px #ffffff;
}
.nav-link.active{
    font-size: 20px;
    font-weight: 800;
    margin-left: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffff !important;
    text-shadow: 0 0 5px #ffffff;
}
.nav-link{
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffff !important;
    text-shadow: 0 0 10px #ffffff;
}
span{
    font-size: 18px;
    font-weight: 700;
    color: #ffff;
}
.fa-solid.fa-magnifying-glass{
    font-size: 25px;
    font-weight: 900;
    color: #ffff;
    align-items: center;
    margin-left: 20px;
    transition: transform 0.3s ease;
}
/* .fa-solid.fa-magnifying-glass:hover{
    transform: scale(1.2);
    color: #ff6347; /* Color change */
/* } */
.fa-solid.fa-cart-plus{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    color: #ffff;
    align-items: center;
}
.lapi{
background-color: red;
}

.d-block.w-100{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    background-size: cover;
}

.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .dark-mode .navbar {
    background-color: #1f1f1f !important;
  }
  
  .dark-mode .box {
    background-color: #222;
    color: white;
  }
  
  .dark-mode input,
  .dark-mode textarea {
    background-color: #333;
    color: white;
    border: 1px solid #555;
  }
  
  .dark-mode .footer-section {
    background-color: #111;
    color: white;
  }
  
  
/* .part-3 */
.section h2{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    /* margin-bottom: 30px; */
    color: rgb(55, 52, 52);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.section p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.section .btn{
    /* width: 200px;
    height: 45px; */
    /* background-color: rgb(76, 82, 194); */
    /* margin-left: 40px; */
    /* text-align: center; */
    color: #ffff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}
.section .btn:hover{
    background-color: #ffff;
    color: #0d0909;
}
.section p{
    text-align: center;
    color: yellow;
}
.section .box{
    background:  linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 0, 0));
    padding: 20px;
    border-radius: 10px;
}
 
.section img{
    height: 200px;
    width: 500px;

}

/* .part-4 */
.section-2 h2{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(55, 52, 52);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.section-2 .btn{
    width: 180px;
    height: 45px;
    background-color: rgba(120, 128, 10, 0.776);
    text-align: center;
    color: #ffff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}
.section-2 .btn:hover{
    background-color: #ffff;
    color: #0d0909;
}
.section-2 img{
    height: 200px;
    width: 300px;
    margin-right: 80px;
}
.section-2 p{
    margin: auto;
    font-size: 22px;
    font-weight: 700;
}
.section-2 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background:  linear-gradient(to left, rgba(255,0,0,0), rgb(0, 94, 255));
}
.section-2 span{
    color:black;
    
}
.section-2 span s{
    color: red;
}
.section-2.price-tag{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* .part-5 */
.text-centre h4{
    font-size: 100px;
}
.Contact_us{
    border: 1px solid #ff0404;
   padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5%;
    flex-direction: column;
    background-color: #b4bfdb;
}
.Contact_us h4{
    font-size: 20px;
}
@media(max-width: 998px){
    .Contact_us{
        width: 100%;
    }
}
.Contact_us input{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
@media(max-width: 1200px){
    .Contact_us input{
      width: 80%;
      margin-left: 50px;
    }
    .Contact_us textarea{
        width: 80%;
        margin-left: 40px;
    }
}
.Contact_us textarea{
    padding: 30px 180px;
    margin-top: 10px;
    text-indent: -90%;
    border: none;
    border-radius: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}
.Contact_us button{
    margin-top: 10px;
    height: 40px;
    width: 200px;
    margin-left: 150px;
    background-color: #ff0404;
    color: #fff;
    border: none;
    border-radius: 4%;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.Contact_us button:hover{
    background-color: #fff;
    color: #0f0d0d;
    transition: all ease 0.3s;
}
.map-location iframe{
    height: 80vh;
    width: 600px;
    margin-left: 50px;
    margin-top: 20px;
}



/* last part */


.footer-section{
    height: auto;
    width: 100%;
    background: linear-gradient( 180deg,#205ac5, #141618f9, #000 ,#0d0909,black,black) !important; 
    color: #fff;
    display: flex;
    margin-bottom: 7%;
   
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
   margin-bottom: 15px;
}
.footer-section a{
    text-decoration: none;
    color: #fff;
}
.footer-section a:hover{
    color: #ff8e04da;
}
.footer-section ul li{
    /* text-decoration: none !important; */
    list-style: none;
    line-height: 30px;
}
.footer-section span{
    line-height: 30px;
    color: lightcyan;
}

